*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper{
    background-color: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar{
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.photo{
    width: 370px;
}

.me-info{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 45px;
}
.cont-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}
.links{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #646c77;
}

.links-letter{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.techtitle{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;  
    color: #ffffff; 
    margin-bottom: 20px;
}

.tech{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
}

.tech-text{
    color: #d8dadd;
}

.soft{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.softtitle{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;  
    color: #ffffff; 
    margin-bottom: 20px;
}

.soft-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
}

.soft-text{
    color: #d8dadd;
}

.profession{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.borndate{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.additionalinfo{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}

.name{
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.discription{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
}

.info-me{
    margin-bottom: 65px;
}

.educ{
    margin-top: 55px;
}

.me-title{
font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-bottom: 15px;
}

.univ{
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
}

.course{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.univsecond{
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
}
.coursesecond{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.prof-divider{
margin-right: 5px;
}
.univcol{
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
}
.coursecol{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}